body {
  background-color: #f3f5ef;
}

button {
  cursor: pointer;
  font-family: "Big Shoulders Text", cursive;
}

.sada {
  background-color: #e4b9e6;
}

.head-title {
  font-family: "Liu Jian Mao Cao", cursive;
}

.adsa {
  background-color: beige;
}

.khatra {
  background-color: #ff9898;
}
